<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.androidVNC" android:installLocation="auto" android:versionCode="1" android:versionName="1.0.0">
    <application android:icon="@drawable/launcher" android:label="@string/app_name" android:debuggable="false" android:theme="@android:style/Theme.Holo.NoActionBar">
        
        <activity
            android:name="administrator.ui.general.Launch"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="administrator.ui.initialization.Terms"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="administrator.ui.initialization.About"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="administrator.ui.initialization.Security"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="administrator.ui.initialization.Done"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="administrator.ui.general.Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="administrator.ui.general.Home"
            android:label="@string/title_activity_home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="administrator.ui.admin.Admin"
            android:label="@string/title_activity_admin" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="administrator.ui.admin.Cpass"
            android:label="@string/title_activity_cpass" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="android.androidVNC.Pchome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="administrator.ui.pc.Power"
            android:label="@string/title_activity_power" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="administrator.ui.pc.Notifications"
            android:label="@string/title_activity_notifications" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="administrator.ui.pc.Run"
            android:label="@string/title_activity_run" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="administrator.ui.home.Message"
            android:label="@string/title_activity_message" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="administrator.ui.general.Habout"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="administrator.ui.pc.Acknowledgment"
            android:label="@string/title_activity_acknowledgment" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="android.androidVNC.Connect"
            android:label="@string/title_activity_connect" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        
        
 		<activity android:label="@string/app_name" android:name="androidVNC" android:screenOrientation="landscape">
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
		</activity>
		<activity android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden" android:name="VncCanvasActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"></action>
			</intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="vnc" />
            </intent-filter>
		</activity>
       <activity android:name=".ConnectionListActivity" android:label="@string/shortcut_label">
        	<intent-filter>
        		<action android:name="android.intent.action.CREATE_SHORTCUT" />
        		<category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
        </activity>
	</application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4"></uses-sdk>
    <supports-screens android:anyDensity="true" />

</manifest> 
